/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_images_side_by_side */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column img {
  width:100%;
}